[core]
  editor      = vim
[user]
  name        = Brendan ODonnell
  email       = brendan.james.odonnell@gmail.com
[github]
  user        = b0d0nne11
[push]
  default     = current
[pull]
  default     = current
  rebase      = true
[color]
  branch      = auto
  diff        = auto
  status      = auto
[color "branch"]
  current     = yellow reverse
  local       = yellow
  remote      = green
[color "diff"]
  meta        = yellow bold
  frag        = magenta bold
  old         = red bold
  new         = green bold
[color "status"]
  added       = yellow
  changed     = green
  untracked   = cyan
[help]
  autocorrect = 0
[alias]
  l           = pull --prune
  p           = push origin HEAD
  d           = diff
  a           = add --all
  del         = add -u
  c           = commit
  ca          = commit -a
  co          = checkout
  nb          = checkout -t -b
  b           = branch
  s           = status -sb
  lg          = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  ls          = ls-files
  hash        = rev-parse --short HEAD
  unstage     = reset HEAD --
  subs        = submodule foreach git pull origin master
[url "git@github.com:"]
	insteadOf = https://github.com/
[gui]
	fontui = -family \"DejaVu Sans\" -size 8 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 8 -weight normal -slant roman -underline 0 -overstrike 0
