[core]
  editor      = vim
[user]
  name        = Brendan ODonnell
  email       = brendan@odonnell.xyz
[github]
  user        = b0d0nne11
[push]
  default     = current
[pull]
  default     = current
  rebase      = true
